.icon-grid {
	background-image:url(../assets/icons/grid.png) !important;
}
.add {
    background-image:url(../assets/icons/add.png) !important;
}
.application_form {
    background-image:url(../assets/icons/application_form.png) !important;
}
.option {
    background-image:url(../assets/icons/plugin.png) !important;
}
.remove {
    background-image:url(../assets/icons/delete.png) !important;
}
.save {
    background-image:url(../assets/icons/save.png) !important;
}
.edit {
	background-image:url(../assets/icons/pencil.png) !important;
}
.max {
	background-image:url(../assets/icons/money_add.png) !important;
}
.kosongkan {
	background-image:url(../assets/icons/drink_empty.png) !important;
}
.empty{
	background-image:url(../assets/icons/drink_empty.png) !important;
}
.accept {
	background-image:url(../assets/icons/emoticon_smile.png) !important;
}
.reject {
	background-image:url(../assets/icons/emoticon_unhappy.png) !important;
}
.cancel{
	background-image:url(../assets/icons/cancel.png) !important;
}
.showlist {
	background-image:url(../assets/icons/table.png) !important;
}
.preview{
	background-image:url(../assets/icons/page_white_magnify.png) !important;
}
.print {
	background-image:url(../assets/icons/printer.png) !important;
}
.logout {
	background-image:url(../assets/icons/door_out.png) !important;
}
.refresh{
	background-image:url(../assets/icons/arrow_refresh.png) !important;
}
.files{
	background-image:url(../assets/icons/page_white_stack.png) !important;
}
.pdf{
	background-image:url(../assets/icons/page_white_acrobat.png) !important;
}
.xls{
	background-image:url(../assets/icons/page_excel.png) !important;
}
.doc{
	background-image:url(../assets/icons/page_white_word.png) !important;
}
.next{
	background-image:url(../assets/icons/control_fastforward_blue.png) !important;
}
.previous{
	background-image:url(../assets/icons/control_rewind_blue.png) !important;
}
.play{
	background-image:url(../assets/icons/control_play_blue.png) !important;
}
.stop{
	background-image:url(../assets/icons/control_stop_blue.png) !important;
}
.bricks{
	background-image:url(../assets/icons/bricks.png) !important;
}
.sidebyside{
	background-image:url(../assets/icons/application_tile_horizontal.png) !important;
}
.copy{
	background-image:url(../assets/icons/page_copy.png) !important;
}
.pc-link{
	background-image:url(../assets/icons/computer_link.png) !important;
}
.download{
	background-image:url(../assets/icons/application_put.png) !important;
}
.page_kontrol{
    background-image:url(../assets/icons/page_kontrol.png) !important;
}
.spp{
	background-image:url(../assets/icons/page_white_spp.png) !important;
}
.spm{
	background-image:url(../assets/icons/page_white_spm.png) !important;
}
.sp2d{
	background-image:url(../assets/icons/page_white_sp2d.png) !important;
}
.revisi{
	background-image:url(../assets/icons/page_revisi.png) !important;
}
.prm_baru{
	background-image:url(../assets/icons/prm_baru.png) !important;
}
.prm_proses{
	background-image:url(../assets/icons/prm_proses.png) !important;
}
.prm_tolak{
	background-image:url(../assets/icons/prm_tolak.png) !important;
}
.prm_cair{
	background-image:url(../assets/icons/prm_cair.png) !important;
}
.prm_selesai{
	background-image:url(../assets/icons/bricks.png) !important;
}
.barcode{
    background-image:url(../assets/icons/barcode.png) !important;
}
.process{
    background-image:url(../assets/icons/cog.png) !important;
}
.cek{
    background-image:url(../assets/icons/tick.png) !important;
}
.up{
    background-image:url(../assets/icons/arrow_up.png) !important;
}
.down{
    background-image:url(../assets/icons/arrow_down.png) !important;
}
.silang{
    background-image:url(../assets/icons/cross.png) !important;
}
.upload-icon{
	background-image:url(../assets/icons/folder_page.png) !important;
}
.book_add{
	background-image:url(../assets/icons/book_add.png) !important;
}
.report{
	background-image:url(../assets/icons/report.png) !important;
}
.money_add{
	background-image:url(../assets/icons/money_add.png) !important;
}
.arrow_out{
	background-image:url(../assets/icons/arrow_out.png) !important;
}
.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.compress{
	background-image:url(../assets/icons/compress.png) !important;
}
.asterisk_yellow{
	background-image:url(../assets/icons/asterisk_yellow.png) !important;
}
.prev{
	background-image:url(../assets/icons/resultset_previous.png) !important;
}
.next{
	background-image:url(../assets/icons/resultset_next.png) !important;
}
.application_view_list{
	background-image:url(../assets/icons/application_view_list.png) !important;
}
.calculator{
	background-image:url(../assets/icons/calculator.png) !important;
}
.blue-row .x-grid3-cell-inner{
	color:blue;
	font-weight:bold;
}
.red-row .x-grid3-cell-inner{
	color:red;
	font-weight:bold;
}
.green-row .x-grid3-cell-inner{
	color:green;
	font-weight:bold;
}


.user-home2{
	background-image:url(../assets/icons/user-home2.png) !important;
}
.logo-sd{
	background-image:url(../assets/icons/logo-sd.png) !important;
}
.logo-smp{
	background-image:url(../assets/icons/logo-smp.png) !important;
}
.logo-guru{
	background-image:url(../assets/icons/logo-guru.png) !important;
}
.logo-sekolah{
	background-image:url(../assets/icons/logo-sekolah.png) !important;
}
.logo-peta{
	background-image:url(../assets/icons/logo-peta.png) !important;
}
.buku{
	background-image:url(../assets/icons/book.png) !important;
}
.kchart{
	background-image:url(../assets/icons/kchart.png) !important;
}
.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.go-home-8{
	background-image:url(../assets/icons/go-home-8.png) !important;
}
.view-list-details-4{
	background-image:url(../assets/icons/view-list-details-4.png) !important;
}
.help{
	background-image:url(../assets/icons/help.png) !important;
}
.system-settings{
	background-image:url(../assets/icons/system-settings.png) !important;
}
.view-table-of-contents-ltr{
	background-image:url(../assets/icons/view-table-of-contents-ltr.png) !important;
}
.group{
	background-image:url(../assets/icons/group.png) !important;
}
.application-exit{
	background-image:url(../assets/icons/application-exit.png) !important;
}
.help-about-3{
	background-image:url(../assets/icons/help-about-3.png) !important;
}
.dialog-question{
	background-image:url(../assets/icons/dialog-question.png) !important;
}
.dialog-question-2{
	background-image:url(../assets/icons/dialog-question-2.png) !important;
}
.dialog-information-3{
	background-image:url(../assets/icons/dialog-information-3.png) !important;
}
.utilities-user-info{
	background-image:url(../assets/icons/utilities-user-info.png) !important;
}
.kuser-3{
	background-image:url(../assets/icons/kuser-3.png) !important;
}
.status-away{
	background-image:url(../assets/icons/status-away.png) !important;
}
.user-suit{
	background-image:url(../assets/icons/user-suit.png) !important;
}
.filter{
	background-image:url(../assets/icons/filter.png) !important;
}




