@CHARSET "ISO-8859-1";

body{
	background: #3d71b8 url(../assets/images/back-tugasku.png) center;	
}

#inwindow {
	border-style: inset;
	border-width: 1px;
	width: 600px;
	height: 356px;
}

#splash {
	background-image: url(../assets/images/tugasku-splash.png);
	width: 600px;
	height: 250px;
}

#form {
	background: #219705;
	width: 600px;
	height: 100px;
	padding-top: 5px;
	border-top: #ffffff 1px dotted;
	color:#000000;
	/*color:#FF6600*/
}